<div style= "text-align:center;line-height:100%;padding:10px;">
 <%= form_tag apicontrol_apicontrol_path do %> 
  <h2>ConnectAPIの認証結果</h2>
    <p><%= @state %></p>
    <p><%= @error %></p>
    <input type="submit" value = "アクセスゲスト一覧表示">
 <%end%>
</div>